.normalButton {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(42, 42, 42, 0.371);
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0);
}
.normalButton:hover {
  background-color: rgba(255, 255, 255, 0.01);
}
