.layoutBoxContainer {
  border: 1px solid #7070701e;
  width: 500px;
  height: fit-content;
  border-radius: 5px;
  overflow: hidden;
}
.styledComponents {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #11161b;
}
.navBar {
  height: 45px;
  width: 100%;
  border: 1px solid #7070701e;
  border-left: none;
  border-right: none;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.commandButtons {
  border: 1px solid #7070701e;
  background-color: rgb(0, 102, 255);
  height: 25px;
  padding: 2px 5px;
  margin-left: 5px;
  border-radius: 3px;
  color: #ffffff;
  transition: all 0.1s;
}
.commandButtons:hover {
  background-color: rgba(255, 255, 255, 0.027);
  background-color: rgb(0, 84, 211);
}
