.hooksContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.components {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  overflow-y: scroll;
}

.hooksFooter {
  width: 500px;
  height: 100%;
  border-left: 1px solid #303030;
  flex-shrink: 0;
}
.components::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.components::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.components::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}

/* Handle on hover */
